/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$muted-text-color: white;
$header-background-color: rgb(12,41,56);
$footer-background-color: rgb(12,41,56);